* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  /* css reset end */

  body{
  
     background-color: #f2f2f2;
  }

  #root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

  }


  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #006837;
  }



  .mainText{
    max-width: 520px;
    background-color: #f9c582;
    padding: 15px;
    display: grid;
    grid-template-rows: 65px auto 50px;

    
  }

  .mainText p {
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 16px;
    color: #446775;
  }

  .mainText p span{
      font-style: italic;
  }


  input{
    
    position: relative;
    top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 16px;
    max-width: 480px;
    width: 100%;
    height: 64px;
    color: #98a991;
    background-color: white;
    border: 1px solid white;
    
  }

  button{
    position: absolute;
    bottom: 20px;
    right: 20px;    
    width: 120px;
    height: 120px;
    background-color: #f9c582;
    color: #006837;
    border-radius: 50%;
  }

  button span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
  }


  @media screen and (max-width: 520px) {
    h1{
      font-size: 24px;
    }

    .mainText{
        font-size: 16px;
        width: 100%;
    }

    input{
        width: calc(100% - 40px);
        left: 20px;
        right: 20px;
    }
}